[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/prb-math"]
	path = lib/prb-math
	url = https://github.com/PaulRBerg/prb-math
[submodule "lib/solidity-bytes-utils"]
	path = lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
[submodule "lib/abdk-libraries-solidity"]
	path = lib/abdk-libraries-solidity
	url = https://github.com/abdk-consulting/abdk-libraries-solidity
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "token-deployment-forge/lib/forge-std"]
	path = token-deployment-forge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "token-deployment-forge/lib/solmate"]
	path = token-deployment-forge/lib/solmate
	url = https://github.com/transmissions11/solmate
